BookManager/Service References/LibraryServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Library" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Library" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Book" nillable="true" type="tns:Book" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBook" nillable="true" type="tns:ArrayOfBook" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="Author" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BookStatus" type="tns:BookStatus" />
      <xs:element minOccurs="0" name="DueDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Genre" type="tns:Genre" />
      <xs:element minOccurs="0" name="LibraryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Publisher" nillable="true" type="tns:Publisher" />
      <xs:element minOccurs="0" name="Reviews" nillable="true" type="tns:ArrayOfReview" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:simpleType name="BookStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Borrowed" />
      <xs:enumeration value="OnHold" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="BookStatus" nillable="true" type="tns:BookStatus" />
  <xs:simpleType name="Genre">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fantasy" />
      <xs:enumeration value="SciFi" />
      <xs:enumeration value="Mystery" />
      <xs:enumeration value="Romance" />
      <xs:enumeration value="Children" />
      <xs:enumeration value="NonFiction" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Genre" nillable="true" type="tns:Genre" />
  <xs:complexType name="Publisher">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Publisher" nillable="true" type="tns:Publisher" />
  <xs:complexType name="ArrayOfReview">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Review" nillable="true" type="tns:Review" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReview" nillable="true" type="tns:ArrayOfReview" />
  <xs:complexType name="Review">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PercentScore" type="xs:int" />
      <xs:element minOccurs="0" name="ReviewerName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Review" nillable="true" type="tns:Review" />
</xs:schema>